*{
    font-size: 14px;
}
ul{
    list-style: none;
}
.box{
    border: 1px solid grey;
    margin-left: 84px;
    margin-right: 84px;
    display: flex;
    background-color: #9e9e9e1f;
    align-items: center;
}
.dropdown{
    padding: 10px;
    /* color: #535353; */
    color: #2e2e2e;
    font-weight: bolder;
    position: relative;
}
.d1{
    margin-left: 200px;
}
.menu{
    position: absolute;
    display: none;
}
.dropdown:hover .menu{
     display: block;
}
.menu li a{
    text-decoration: none;
}
a:visited{
    color:#2e2e2e;
}
.menu{
    border: 2px solid #2e2e2e;
    background-color: #9e9e9e1f;
    height: 100px;
    max-height: auto;
    white-space: nowrap;
    padding: 10px;
}
.but{
    margin-left: auto;
    margin-right: 20px;
}
.but button{
    background-color: #fcb900;
    border-radius: 5px;
}
.but button a{
   text-decoration: none;
}
.bu{
    width: 113.087px;
    height: 37.60px;
}
a {
    color: inherit;     
    text-decoration: none; 
}

